extends ../layout

block content 
  h1 Books  
  p 
    label A collection of different books, you can use the search feature for all attributes. 
  form(action="/books/1", method="post")
    p 
      label(for="searchInput")
    p
      input(name="searchInput", id="searchInput" type="search", placeholder="Search for a book")  
    p
      input(type="submit" value="Search")
    p 
      a.button(href="/books/page/1") Home
    p
      a.button(href="/books/new") Create New Book  
  table 
    thead
      tr
        th Title
        th Author 
        th Genre 
        th Year
    tbody 
      each book in books
        tr 
          td 
            a(href=`/books/${book.id}`)= book.title
          td=book.author
          td=book.genre
          td=book.year
  